.App {
  text-align: center;
  font-family: 'Antonio', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
.nav{
  background-color: transparent;
  padding: 10px 5% 10px 5%;
  font-size: 30px;
  position:fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: 0.32s ease-in-out;
}

.banner {
  height: 730px;
  margin-top: 0;
  padding: 70px 0 0px 0;
  background-image: url('./assets/img/bg-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .banner {
    background-image: none;
    background-color: #4A2C66;
  }
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

.flex-container > div {
  width: 45%;
  margin: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .flex-container > div {
    margin: auto;
    text-align: center;
    font-size: 25px;
  }
}

.button{
  background-color: rgb(224, 221, 30);
  border: none;
  padding: 10px 22px ;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 5px 5px 10px #4A2C66;
}
.button:hover{
  background-color: rgb(163, 160, 22);
}
